.btn {
    @apply px-8 pt-3 pb-1 uppercase font-bold;
    line-height: 1;
    &.btn-default {
        @apply text-palette1-third border-b;
    }
    &:hover {
        @apply bg-white text-black;
    }
    &:focus {
        @apply outline-none;
    }
    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}
