@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import 'typography';
@import 'buttons';
@import 'home';
@import 'hamburgers/hamburgers.scss';

html, body {
    @apply font-sans;
}

.VueCarousel-pagination {
    position: absolute;
    bottom: 0;
    .VueCarousel-dot {
        width: 6px !important;
        height: 6px !important;
        padding: 6px !important;
    }
}
.VueCarousel-navigation {
    // position: absolute;
    .VueCarousel-navigation-button {
        z-index: 99;
        color: white;
        // top: 50%;
        // transform: translateY(-50%)
        &.VueCarousel-navigation-prev {
            left: 40px;
        }
        &.VueCarousel-navigation-next {
            right: 40px;
        }
    }
}

@tailwind utilities;
